{% extends 'baseMail.html.twig' %}

{% block body %}
    <h1 {{ program.title }}  has been created</h1>
    <p>Hey , Now you can see the new Program {{ program.title }} Enjoy Wild series </p>
   
{% endblock %}