{% extends 'baseMail.html.twig' %}

{% block body %}
    <h1 {{ episode.title }}  has been created</h1>
    <p>Hey , the new episode {{ episode.title }} has been created on  the season {{episode.number}} Enjoy wild series</p>
 
{% endblock %}